[user]
	name = e-jambon
	email = admin@e-jambon.com
[core]
	editor = vim
	autocrlf = false
	safecrlf = warn
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	type = cat-file -t
	dump = cat-file -p
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[credential]
	helper = cache --timeout=3600
